# Gradle
.gradle/
build/
**/build/

# Local Android SDK configuration
local.properties

# Google Services (e.g. APIs or Firebase)
google-services.json

# Android Studio
.idea/
*.iml

# OS files
.DS_Store

# Local agent artifacts
.artifacts/
